<footer class="footer">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %}">
        <div class="row my-3">
            <!-- Align footer content with main content column (e.g., the col-lg-9 on the homepage) -->
            <div class="d-none d-lg-block col-lg-3"></div>
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6">
                        <div class="text-muted">
                            <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-right text-muted">
                            {{ site.data.display.footer_text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
